.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

.*
!.gitignore
!.git*
*~


lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
release

config.js
public/js/min
public/css/min
views/layout/headercss.jade
views/layout/headerjs.jade
views/layout/footerjs.jade
deploy/deploy.conf
