extends layout

block content
  h1 Formidable Upload Example

  p Please select a file to upload

  form#fileUploadForm(accept-charset="utf-8", method="post", action="/upload", enctype="multipart/form-data")
    input(type="file", name="imagefile", multiple="multiple")
    button.upload-btn(type="submit") Upload
