!!! 5
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8">
//if IE 8
  <html class="no-js lt-ie9">
// [if gt IE 8] <!
html(class="no-js", lang="en")
  // <![endif]
  head
    include layout/header
    include layout/headercss
    include layout/headerjs

  body
    .super-container.full-width
      .container
        include layout/navigation

      .container
        block content

      .container
        include layout/footer

        include layout/footerjs

