doctype html
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8">
//if IE 8
  <html class="no-js lt-ie9">
// [if gt IE 8] <!
html(class="no-js", lang="en")
  // <![endif]
  head
    meta(charset="utf-8")
    title= title
    meta(name="description", content="Example app for formidable upload")
    meta(name="author", content="Vinayak Mishra")

    meta(name="viewport", contents="width=device-width, initial-scale=1, maximum-scale=1")

    //if lt IE 9
      script(src="//html5shim.googlecode.com/svn/trunk/html5.js")

    link(rel="shortcut icon", href="/images/favicon.ico")
    link(rel="stylesheet", href="/css/style.css")

  body
    .container
      .content
        block content

    .container
      script(src="/js/scripts.js")
      footer &copy; 2014 Formidable Express Upload | Vinayak Mishra
