- if ('development' === environment)
  link(rel="stylesheet", href="/css/base.css")
  link(rel="stylesheet", href="/css/skeleton.css")
  link(rel="stylesheet", href="/css/layout.css")
  link(rel="stylesheet", href="/css/navigataur.css")
  link(rel="stylesheet", href="/css/app.css")
- else
  link(rel="stylesheet", href="/css/min/<PLACEHOLDERFORMINIFIEDFILE>")
