.container
  .header.clearfix
    h1 Hello World

    .nav
      input(type="checkbox", id="toggle")
      label.toggle(for="toggle", data-open="Main Menu", data-close="Close Menu", onclick)
      ul.menu
        li: a(href="#") Google
        li: a(href="#") Github
        li: a(href="#") Twitter
        li: a(href="#") Facebook
